body {
    background-image: url("../All page/arrière_plan.png");
    width: 1580px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    list-style-type: none;
    gap: 50px;
}

.navigation_bar {
    padding: 20px;
}

.image_header img{
    width: 570px;
}

.text_header {
    padding-left: 50px;
}

.grandeImage {
    float: left;
    padding-left: 280px;
}

.bar_text_image {
    display: flex;
}

.espacement {
    height: 150px;
}

.bar_image {
    height: 180px;
}

.bar_text {
    text-align: justify;
    padding: 20px;
    color: white;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}